<div class="modal fade " id="UpdateUserDetails" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" style="padding: 20px">
      
        <div class="modal-content">
          <div [ngClass]="{'disp' : success}" class=" alert alert-success text-center">
            {{errmsg}}
          </div>
          <div [ngClass]="{'disp' : errdisp}" class="alert alert-danger text-center">
            {{errmsg}}
          </div>
       
           
            <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input [(ngModel)]="email" type="email" name="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input [(ngModel)]="password" type="password" name="password" class="form-control" id="inputPassword4" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Username</label>
              <input [(ngModel)]="username" type="text" name="phone" class="form-control" id="inputAddress" >
            </div>

            <div class="form-group">
              <label for="inputAddress">Phone</label>
              <input [(ngModel)]="phone" type="text" name="phone" class="form-control" id="inputAddress" >
            </div>
            
            <div class="form-row">
              
              <div class="form-group col-md-4">
                <label for="inputState">Role</label>
                <select [(ngModel)]="role"  id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option value="emp">Employee</option>
                  <option value="admin">Admin</option>
                </select>
              </div>
              
            </div>
            
            <button type="submit" (click)="adduser()" class="btn btn-primary">Update</button>
          </form>
      </div>
    </div>
  </div>
  