<div class="container" >
    
    <div class='row'>

        <div class="col-lg-6 col-sm-12  text-center">
            <div class="d-flex flex-column justify-content-center">
                <div routerLink="/user/give-feedback" class="card align-self-center shadow1" >
                    <div class="card-body">
                      <h2 class="head-pos">Give Feedback</h2>
                    
                    </div>
                  </div>

            </div>
        </div>
      
        <div class="col-lg-6 col-xs-12  text-center">
            
            <div class="d-flex flex-column justify-content-center">
                <div routerLink="/user/my-feedback" class="card align-self-center shadow1" >
                    <div class="card-body">
                        <h2 class="head-pos">My feedbacks</h2>
                    </div>
                  </div>

                  
            </div>
        </div>

        

    </div>

</div>
