

<app-carousel></app-carousel>

<app-login2></app-login2>


<!-- 



<div class="container-fluid" style="background: linear-gradient(185deg, #bcfff6 0, #a6fff4 12.5%, #8cfff3 25%, #6cfbf2 37.5%, #3cf2f2 50%, #00e8f3 62.5%, #00dff5 75%, #00d7f9 87.5%, #00cefd 100%);">
    

<div class="row">
    <div class="col">
        <div class="card-columns">

            
            
        </div>

    </div>
</div>


    <div class='row '>

        <div class="col-lg-4 col-sm-12  text-center">
            <div class="d-flex flex-column justify-content-center">
                <div routerLink="/home/awarness" class="card align-self-center shadow1" style="width: 18rem;">
                    <div class="card-body">
                      <h1 class="head-pos">Awarness</h1>
                      
                    </div>
                  </div>

                  <div routerLink="/home/projects" class="card align-self-center shadow1" style="width: 18rem;">
                    <div class="card-body">
                        <h1 class="head-pos">Projects</h1>
                    </div>
                  </div>

            </div>
        </div>
        <div class="col-lg-4 col-xs-12  text-center">
            
           


        </div>
        <div class="col-lg-4 col-xs-12  text-center">
            
            <div class="d-flex flex-column justify-content-center">
                <div routerLink="/home/login" class="card align-self-center shadow1" style="width: 18rem;">
       
                        <div class="card-body align-self-center">
                            <h1 class="head-pos">Login</h1>
                        </div>
                 
                    
                  </div>

                  <div routerLink="/home/signup" class="card align-self-center shadow1" style="width: 18rem;">
                    <div class="card-body">
                        <h1 class="head-pos">Signup</h1>
                    </div>
                  </div>

            </div>
        </div>


    </div>

</div>
   -->
