<div class="container-fluid" >
    <div >
    <div class='row'>
        <div class="col-lg-6 col-sm-12  text-center" >
            <div class="d-flex flex-column justify-content-center" >
                <div routerLink="/admin/users" class="card align-self-center shadow1" >
                    <div class="card-body">
                      <h2 class="head-pos">Users</h2>
                    
                    </div>
                  </div>

            </div>
        </div>
      
        <div class="col-lg-6 col-xs-12  text-center">
            
            <div class="d-flex flex-column justify-content-center">
                <div routerLink="/admin/watermodels" class="card align-self-center shadow1" >
                    <div class="card-body">
                        <h2 class="head-pos">Water Models</h2>
                    </div>
                  </div>

                  
            </div>
        </div>

        

    </div>

    <div class='row'>

        <div class="col-lg-6 col-sm-12  text-center">
            <div class="d-flex flex-column justify-content-center">
                <div routerLink="/admin/awarness" class="card align-self-center shadow1" >
                    <div class="card-body">
                      <h2 class="head-pos">Add Awarness</h2>
                    
                    </div>
                  </div>

            </div>
        </div>
      
        <div class="col-lg-6 col-xs-12  text-center">
            
            <div class="d-flex flex-column justify-content-center">
                <div routerLink="/admin/projects" class="card align-self-center shadow1" >
                    <div class="card-body">
                        <h2 class="head-pos">Add Projects</h2>
                    </div>
                  </div>

                  
            </div>
        </div>

        

    </div>
    </div>
</div>
