<div class="container" style="padding: 50px;margin-top: 20px;background-color:#49beb7; border-radius: 5px;">
    <div class="row">
        <div class="col">
            <div class="card-columns">


                <!-- {{res | json}} -->
                
                <div *ngFor="let data of res"  class="card  mb-3" style="max-width: 18rem;">
              
                    <div class="card-body">
                     
                      <p class="card-text"><strong>Duration : </strong>{{data.duration}}min</p>
                      <p class="card-text"><strong>Feedback : </strong>{{data.feedback}}</p>
                      <!-- <p class="card-text"><strong>City : </strong>{{data.city}}</p>
                      <p class="card-text"><strong>Location : </strong>Nalakunta</p> -->
                    </div>
                </div>

               
                

            </div>
        </div>
    </div>
</div>
